#!/bin/python
import zlib
from base64 import urlsafe_b64encode as b64e

def main():
    password_plain_text = input("Enter a plain text password you would like to encrypt: ")
    password_encrypted = b64e(zlib.compress(password_plain_text.encode('utf8'), 9))

    print("Plain text password:", password_plain_text)
    print("Encrypted password:", password_encrypted)
    print("Copy an encrypted password to the JWT token generator (jwtgenerator.py, the c_text variable) and update CyberArk with a newer plain text password.")

main()
